<li id = "<%= feed_item.id %>">
  <a href = "<%= user_path(feed_item.user) %>">
    <%= gravatar_for feed_item.user, size: 56 %>
  </a>
  <span class = "user">
    <%= link_to(feed_item.user.name, feed_item.user) %>
  </span>
  <%= render 'shared/micropost_stub', object: feed_item%>
</li>
